<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DhamenAndroid.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DhamenAndroid.My.MySettings>
            <setting name="myOutputPath" serializeAs="String">
                <value>Generated code output path</value>
            </setting>
            <setting name="myLastSQLiteFile" serializeAs="String">
                <value>The last SQLite file was opened</value>
            </setting>
            <setting name="myLastPackageName" serializeAs="String">
                <value>Last package name used</value>
            </setting>
            <setting name="myLast_Class_postfix" serializeAs="String">
                <value>Dao</value>
            </setting>
            <setting name="myLast_Class_pretfix" serializeAs="String">
                <value />
            </setting>
            <setting name="myLast_DbName" serializeAs="String">
                <value />
            </setting>
        </DhamenAndroid.My.MySettings>
    </userSettings>
</configuration>